:root {
  --dark-slate-gray: hsl(234, 29%, 20%);
  --charcol-gray: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
html {
  display: table;
  margin: auto;
}

main {
  position: relative;
  max-width: 375px;
}

.image {
  height: auto;
  content: url("./assets/images/illustration-sign-up-mobile.svg");
  width: 100%;
}

.hero {
  top: 31%;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  color: var(--dark-slate-gray);
}

.hero h1 {
  font-family: "Roboto-Bold";
  font-size: 40px;
  padding-bottom: 1rem;
}

ul li,
.sub-text p {
  list-style: none;
  font-family: "Roboto-Regular";
}

ul li {
  margin-left: 10%;
  list-style-image: url("./assets/images/icon-list.svg");
  position: relative;
}

.lists {
  padding-top: 1rem;
}

ul li:not(:last-child) {
  padding-bottom: 1rem;
}

label[for="email"] {
  color: var(--dark-slate-gray);
  font-family: "Roboto-Bold";
  font-size: 12px;
}

.email {
  padding-top: 5rem;
}

.email input {
  height: 3.3rem;
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3.3rem;
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 10px;
  background-color: var(--charcol-gray);
  font-family: "Roboto-Regular";
  margin-top: 1.3rem;
}

.actions {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: -10%;
}

input::placeholder {
  padding: 1rem;
  font-size: 15px;
}

input {
  margin-top: 0.7rem;
}

.subscribe a {
  text-decoration: none;
  color: var(--white);
}

@media (min-width: 768px) {
  html {
    display: table;
    margin: auto;
  }

  body {
    display: table-cell;
    vertical-align: middle;
    background-color: var(--charcol-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    height: 100vh;
    background-color: var(--white);
    min-width: 50vw;
    width: auto;
    height: auto;
    min-height: 60%;
  }

  main .image {
    max-width: 40%;
    border-radius: 15px;
    object-fit: cover;
    margin: 1rem;
  }

  .subscribe {
    text-align: center;
  }

  .hero {
    position: absolute;
    max-width: 58%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    overflow: hidden;
  }

  .actions {
    position: relative;
    min-width: 80%;
  }

  .lists {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
  }

  .hero h1 {
    font-family: "Roboto-Bold";
    padding-bottom: 0rem;
  }

  ul {
    margin-left: -8px;
  }
  
  .sub-text {
    margin-top: 5%;
  }

  .actions {
    position: absolute;
    height: auto;
    padding: 0;
    margin: 0;
    bottom: 10%;
    max-width: 89%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .actions * {
    padding: 0;
    margin: 0;
    width: 80%;
  }

  .email p {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1600px) {
  .hero h1 {
    font-size: 55px;
  }
}
